*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style-type: none;

    font-family: 'Poppins', sans-serif; 
    color: #ffff;
}

.header_container{
    display: flex;
    justify-content: space-between;
    background-color: var(--bgcolor1);
    align-items: center;
    padding: 10px;
    color: #fff;
}

